@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*FONT VARIABLES*/
/*COLOR VARIABLES*/
/*TRANSITIONS VARIABLES*/
body {
  animation: scrollBackground 70s linear infinite;
  width: 99%;
  background-image: url(../media/img/background/lemons.jpg);
  background-repeat: repeat; }

.headerBlock {
  animation: transitionInTitles 0.6s;
  transition: all 0.3s ease 0s;
  position: fixed;
  margin: 5px;
  top: 0px;
  left: -5px;
  height: 80px;
  width: 98vw;
  min-width: 310px;
  padding: 2px;
  border-radius: 42px;
  background-color: #FFC300;
  z-index: 1; }
  .headerBlock a {
    display: grid;
    grid-template-areas: "headerIcon headerTitle" "headerIcon headerSlogan";
    height: 100%;
    width: 100%;
    color: beige;
    font-family: montserrat;
    text-decoration: none; }
  .headerBlock:hover {
    opacity: .8; }

.headerIcon {
  grid-area: headerIcon;
  width: fit-content; }
  .headerIcon img {
    height: 80px;
    position: relative;
    top: -2px; }

.headerTitle {
  grid-area: headerTitle;
  display: flex;
  align-content: flex-start; }
  .headerTitle h2 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 28px; }

.headerSlogan {
  grid-area: headerSlogan; }
  .headerSlogan p {
    text-align: left;
    font-weight: 500;
    font-size: 12px; }

@media screen and (min-width: 375px) {
  .headerTitle h2 {
    text-align: left;
    margin-top: 5px;
    font-size: 32px; }
  .headerSlogan p {
    margin-top: 10px;
    text-align: left;
    font-size: 16px; } }

@media screen and (min-width: 768px) {
  .headerBlock {
    height: 50px; }
    .headerBlock a {
      grid-template-columns: min-content;
      grid-template-areas: "headerIcon headerTitle headerSlogan"; }
  .headerIcon img {
    height: 50px;
    position: relative;
    top: -2px; }
  .headerTitle h2 {
    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 38px; }
  .headerSlogan p {
    margin-top: 10px;
    text-align: left;
    font-size: 24px; } }

@media screen and (min-width: 1024px) {
  .headerBlock {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 98vw;
    margin-left: 10px;
    padding: 2px;
    border-radius: 27px; }
  .headerIcon {
    width: 50px; }
    .headerIcon img {
      height: 50px;
      position: relative;
      top: -2px; }
  .headerTitle {
    width: fit-content; }
    .headerTitle h2 {
      margin-right: 0px;
      font-weight: 700;
      font-size: 38px; }
  .headerSlogan p {
    margin: 10px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 24px; } }

.navbar {
  animation: transitionInTitles 0.8s;
  position: relative;
  top: 82px;
  z-index: 0;
  left: 0px;
  max-width: none; }

.navbar-toggler {
  padding: 2px;
  border-radius: 17px;
  height: 30px;
  border: 0;
  display: flex;
  align-items: flex-start;
  background-color: #FFC300;
  width: 95vw;
  min-width: 200px;
  max-width: none; }
  .navbar-toggler img {
    height: 28px;
    position: relative;
    left: 0px; }

.navbar-nav .nav-item a {
  position: relative;
  height: 25px;
  margin: 1px;
  left: 0px;
  top: 5px;
  min-width: 200px;
  border: solid beige 1px;
  background-color: #FFC300;
  padding: 2px;
  border-radius: 14.5px;
  color: beige;
  text-decoration: none;
  font-family: montserrat;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  justify-items: left; }
  .navbar-nav .nav-item a img {
    height: 100%; }

@media screen and (min-width: 375px) {
  .navbar {
    left: 0px;
    top: 82px; }
  .navbar-nav .nav-item a {
    left: 2px;
    top: 3px; } }

@media screen and (min-width: 768px) {
  .navbar {
    left: 0px;
    top: 52px; }
  .navbar-nav .nav-item a {
    width: 98%;
    left: 2px;
    top: 3px; } }

@media screen and (min-width: 992px) {
  .nav-item {
    position: relative;
    top: -10px;
    height: 40px;
    width: calc(24.5% - 15px);
    margin-left: 15px;
    margin-top: 5px; }
  .navbar-toggler {
    height: 30px; }
  .navbar-nav {
    width: 100%; }
    .navbar-nav .nav-item a {
      height: 30px;
      font-size: 16px;
      min-width: none; } }

.container, .appointmentBlock, .post, .recipe, .socialBlock {
  margin: 5px;
  width: calc(98vw-20px);
  font-family: montserrat;
  position: relative;
  z-index: -1;
  min-width: 300px;
  animation: transitionInContent 1s; }

.mapBlock {
  margin: 5px;
  width: calc(98vw-20px);
  font-family: montserrat;
  position: relative;
  z-index: -1;
  min-width: 300px;
  animation: transitionInContent2 1s; }

.container, .appointmentBlock, .post, .recipe, .socialBlock {
  max-width: none;
  top: 80px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f7dcb9e6;
  border-radius: 22px; }
  .container .presentationTitle, .appointmentBlock .presentationTitle, .post .presentationTitle, .recipe .presentationTitle, .socialBlock .presentationTitle {
    width: 100%;
    text-align: center; }
    .container .presentationTitle h1, .appointmentBlock .presentationTitle h1, .post .presentationTitle h1, .recipe .presentationTitle h1, .socialBlock .presentationTitle h1 {
      font-weight: 800;
      font-size: 26px;
      margin: 5px;
      color: #182833; }
  .container .presentationImg Img, .appointmentBlock .presentationImg Img, .post .presentationImg Img, .recipe .presentationImg Img, .socialBlock .presentationImg Img {
    width: calc(100% - 10px);
    border-radius: 22px;
    margin-left: 5px;
    margin-right: 5px; }
  .container .presentationText, .appointmentBlock .presentationText, .post .presentationText, .recipe .presentationText, .socialBlock .presentationText {
    margin-left: 5px;
    height: 100%;
    color: #182833;
    font-size: 12px;
    font-weight: 400; }

@media screen and (min-width: 768px) {
  .container, .appointmentBlock, .post, .recipe, .socialBlock {
    top: 50px; }
    .container .presentationText, .appointmentBlock .presentationText, .post .presentationText, .recipe .presentationText, .socialBlock .presentationText {
      font-size: 14px;
      margin-left: 10px;
      margin-right: 10px; }
    .container .presentationTitle h1, .appointmentBlock .presentationTitle h1, .post .presentationTitle h1, .recipe .presentationTitle h1, .socialBlock .presentationTitle h1 {
      font-size: 32px; } }

@media screen and (min-width: 1024px) {
  .container, .appointmentBlock, .post, .recipe, .socialBlock {
    width: 98vw;
    position: relative;
    top: 32px;
    background-color: #f7dcb9e6;
    border-radius: 22px;
    margin-left: 5px;
    font-family: montserrat; }
    .container .presentationTitle, .appointmentBlock .presentationTitle, .post .presentationTitle, .recipe .presentationTitle, .socialBlock .presentationTitle {
      width: 100%;
      text-align: center; }
      .container .presentationTitle h1, .appointmentBlock .presentationTitle h1, .post .presentationTitle h1, .recipe .presentationTitle h1, .socialBlock .presentationTitle h1 {
        font-weight: 800;
        font-size: 48px;
        margin: 5px; }
    .container .presentationImg, .appointmentBlock .presentationImg, .post .presentationImg, .recipe .presentationImg, .socialBlock .presentationImg {
      height: 100%; }
      .container .presentationImg Img, .appointmentBlock .presentationImg Img, .post .presentationImg Img, .recipe .presentationImg Img, .socialBlock .presentationImg Img {
        width: 100%;
        border-radius: 22px;
        margin: 10px;
        vertical-align: middle; }
    .container .presentationText, .appointmentBlock .presentationText, .post .presentationText, .recipe .presentationText, .socialBlock .presentationText {
      margin: 20px;
      height: 100%;
      font-size: 18px;
      font-weight: 400; } }

@media screen and (min-width: 992px) {
  .container, .appointmentBlock, .post, .recipe, .socialBlock {
    top: 32px; } }

.mapBlock {
  top: 88px;
  left: -2px;
  display: flex;
  flex-direction: column;
  background-color: #f7dcb9e6;
  border-radius: 22px;
  margin-left: 5px;
  align-items: center;
  margin-bottom: 30px; }
  .mapBlock h3 {
    font-weight: 700;
    font-size: 20PX;
    margin: 5px;
    color: #182833; }
  .mapBlock iframe {
    width: calc(100% - 22px);
    margin-bottom: 12px;
    border-radius: 22px;
    border: #182833 solid 3px; }

.appointmentMap {
  top: 35px; }

@media screen and (min-width: 768px) {
  .mapBlock {
    top: 55px; } }

@media screen and (min-width: 992px) {
  .mapBlock {
    top: 36px; } }

@media screen and (min-width: 1024px) {
  .mapBlock {
    left: 10px; }
    .mapBlock h3 {
      font-size: 30PX; } }

.titleBlock {
  animation: transitionInTitles .9s;
  position: relative;
  top: 80px;
  left: 2px;
  display: flex;
  flex-direction: column;
  width: 98vw;
  min-width: 310px;
  background-color: #f7dcb9e6;
  border-radius: 22px;
  margin-left: 0px;
  font-family: montserrat;
  align-items: center;
  text-align: center;
  margin-bottom: 30px; }
  .titleBlock h1 {
    margin: 2px;
    color: #182833;
    font-weight: 800;
    font-size: 24px; }
  .titleBlock P {
    margin: 5px;
    color: #182833;
    font-weight: 500;
    font-size: 12px;
    text-align: center; }

@media screen and (min-width: 425px) {
  .titleBlock h1 {
    font-size: 28px; } }

@media screen and (min-width: 768px) {
  .titleBlock {
    top: 50px; }
    .titleBlock h1 {
      font-size: 32px; }
    .titleBlock P {
      margin: 0px;
      margin-bottom: 5px;
      font-size: 16px; } }

@media screen and (min-width: 992px) {
  .titleBlock {
    top: 32px; } }

#list {
  animation: transitionInTitles 1s;
  position: relative;
  top: 55px;
  left: -2px;
  display: flex;
  flex-direction: column;
  width: 98vw;
  min-width: 310px;
  margin: 5px;
  background-color: #FFC300;
  border-radius: 22px;
  margin-left: 5px;
  font-family: base-font;
  align-items: center;
  margin-bottom: 30px; }
  #list .listOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  #list h3 {
    margin: 2px;
    color: font-color-2;
    font-weight: 800;
    font-size: 18px;
    text-align: center; }
  #list a {
    background-color: #1F4762;
    width: calc(33% - 20px);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: beige;
    font-weight: 600;
    text-align: center;
    text-decoration: none; }
  #list p {
    margin: 0px;
    font-size: 12px; }

@media screen and (min-width: 425px) {
  #list h3 {
    font-size: 24px; }
  #list p {
    font-size: 14px; } }

@media screen and (min-width: 768px) {
  #list {
    top: 26px; }
    #list h3 {
      font-size: 28px; }
    #list p {
      font-size: 18px; } }

@media screen and (min-width: 992px) {
  #list {
    top: 8px; } }

.recipe {
  left: 2px;
  top: 30px;
  background-color: #f7dcb9e6;
  color: #182833;
  border-radius: 22px;
  margin-left: 0px;
  align-items: center;
  margin-bottom: 30px; }
  .recipe h3 {
    width: calc(100% - 10px);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 10px; }
  .recipe video {
    width: calc(100% - 10px);
    margin: 5px;
    margin-bottom: 0px;
    border-radius: 10px; }

.recipeText {
  margin: 25px; }
  .recipeText h4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 5px; }
  .recipeText p {
    font-weight: 400;
    font-size: 14px;
    margin: 0px; }

.listButton {
  display: flex;
  margin: 10px;
  width: 100%;
  height: fit-content;
  justify-content: center; }
  .listButton a {
    background-color: #1F4762;
    padding: 10px;
    margin: 0px;
    height: fit-content;
    border-radius: 10px;
    color: beige;
    text-decoration: none; }

@media screen and (min-width: 425px) {
  .recipe h3 {
    font-size: 24px; }
  .recipeText h4 {
    font-size: 22px; }
  .recipeText p {
    font-size: 16px; } }

@media screen and (min-width: 768px) {
  .recipe {
    top: 0px; }
    .recipe h3 {
      font-size: 28px; }
    .recipe h4 {
      font-size: 24px; }
    .recipe p {
      font-size: 18px; } }

@media screen and (min-width: 992px) {
  .recipe {
    top: -14px; } }

.container-post {
  background-color: #1f476200;
  position: relative;
  top: 18px;
  left: 0px; }

.post {
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 10px;
  align-items: center;
  padding: 10px;
  background-color: #f7dcb9e6;
  color: #182833;
  border-radius: 22px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }

.postTitle {
  width: 100%;
  align-items: center; }
  .postTitle h3 {
    margin: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 20px; }

.postBody {
  justify-content: center;
  max-width: 800px; }
  .postBody img {
    width: 100%;
    border-radius: 10px; }

@media screen and (min-width: 425px) {
  .postTitle h3 {
    font-size: 24px;
    margin: 5px; } }

@media screen and (min-width: 768px) {
  .post {
    top: -15px; }
  .postTitle h3 {
    font-size: 28px;
    margin: 0px; } }

@media screen and (min-width: 1024px) {
  .postBody img {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .container-post {
    top: 0px; } }

@media screen and (min-width: 1200px) {
  .post {
    width: calc(98vw/2 - 20px); } }

.appointmentBlock {
  animation: transitionInContent 1s;
  top: 50px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #f7dcb9e6;
  color: #182833;
  border-radius: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center; }

.appointmentTitle {
  width: 100%; }
  .appointmentTitle h1 {
    text-align: center;
    font-size: 20px;
    margin: 0px; }

.appointmentBody {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "appointmentLeft appointmentLeft appointmentLeft" "appointmentCenter appointmentCenter appointmentCenter" "appointmentRight appointmentRight appointmentRight" "appointmentSend appointmentSend appointmentSend";
  justify-content: space-between; }

.appointmentLeft {
  margin: 5px;
  grid-area: appointmentLeft;
  align-content: center; }
  .appointmentLeft p {
    font-weight: 600;
    font-size: 16px; }

.appointmentCenter {
  margin: 0px;
  width: 100%;
  grid-area: appointmentCenter; }
  .appointmentCenter p {
    font-weight: 600;
    font-size: 12px; }
  .appointmentCenter table {
    width: 100%;
    border: solid;
    border-color: #1F4762;
    align-content: center;
    font-size: 8px; }
    .appointmentCenter table th, .appointmentCenter table td {
      border: solid;
      border-color: #1F4762;
      align-content: center; }
    .appointmentCenter table input {
      width: 100%; }

.appointmentRight {
  margin: 5px;
  grid-area: appointmentRight; }
  .appointmentRight p {
    font-weight: 600;
    font-size: 14px; }
  .appointmentRight textarea {
    width: 100%; }

.appointmentSend {
  grid-area: appointmentSend; }

@media screen and (min-width: 425px) {
  .appointmentCenter p {
    font-size: 14px; }
  .appointmentRight p {
    font-weight: 600;
    font-size: 16px; }
  .appointmentCenter table {
    font-size: 11px; } }

@media screen and (min-width: 768px) {
  .appointmentBlock {
    top: 20px; }
  .appointmentBody {
    grid-template-areas: "appointmentLeft appointmentCenter appointmentCenter" "appointmentLeft appointmentCenter appointmentCenter" "appointmentRight appointmentRight appointmentSend";
    justify-content: space-between; }
  .appointmentCenter {
    margin-top: 40px;
    width: 99%; }
    .appointmentCenter p {
      font-size: 18px; }
    .appointmentCenter table {
      font-size: 12px; }
  .appointmentRight {
    display: flex;
    flex-direction: column; }
    .appointmentRight p {
      font-weight: 600;
      font-size: 20px; }
  .appointmentSend {
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    align-content: center; }
  .appointmentMap {
    top: 0px; }
  .appointmentTitle h1 {
    font-size: 34px; } }

@media screen and (min-width: 1024px) {
  .appointmentBody {
    grid-template-areas: "appointmentLeft appointmentCenter appointmentRight" "appointmentLeft appointmentCenter appointmentRight" "appointmentSend appointmentSend appointmentSend";
    justify-content: space-between; }
  .appointmentCenter p {
    font-size: 20px; }
  .appointmentCenter table {
    font-size: 14px; }
  .appointmentRight p {
    font-weight: 600;
    font-size: 22px; }
  .appointmentTitle h1 {
    font-size: 38px; } }

.socialBlock {
  left: 0px;
  top: 50px;
  background-color: #18283300; }
  .socialBlock a {
    display: flex;
    align-items: center;
    min-width: 290px;
    margin: 5px;
    padding: 5px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #1F4762;
    text-decoration: none;
    color: beige;
    font-size: 32px; }
    .socialBlock a img {
      height: 50px; }
  .socialBlock h4 {
    width: 100%;
    margin: 5px;
    font-size: 24px;
    text-align: center; }

@media screen and (min-width: 768px) {
  .socialBlock {
    left: -10px;
    top: 10px; } }

.emailForm {
  animation: transitionInContent2 1s;
  position: relative;
  top: 50px;
  left: 15px;
  display: grid;
  width: calc(98vw - 20px);
  min-width: 290px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "emailTitle emailTitle" "emailLeft emailLeft" "emailRight emailRight";
  background-color: #1F4762;
  margin: 0px;
  padding: 10px;
  border-radius: 22px;
  font-family: montserrat;
  color: beige; }
  .emailForm p {
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    text-align: center; }

.emailTitle {
  grid-area: emailTitle;
  width: 100%; }
  .emailTitle h3 {
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 5px; }

.emailLeft {
  grid-area: emailLeft;
  margin: 10px;
  width: calc(100% - 20px); }
  .emailLeft input {
    width: calc(100% - 20px);
    padding: 10px;
    font-family: montserrat; }

.emailRight {
  grid-area: emailRight;
  margin: 10px;
  width: calc(100% - 20px); }
  .emailRight textarea {
    width: 100%;
    font-family: montserrat; }

@media screen and (min-width: 768px) {
  .emailForm {
    top: 15px; } }

@media screen and (min-width: 1024px) {
  .emailForm {
    grid-template-areas: "emailTitle emailTitle" "emailLeft emailRight" "emailLeft emailRight"; }
    .emailForm p {
      font-size: 18px; } }

@keyframes transitionInTitles {
  from {
    opacity: 0;
    transform: translate(0px, -100px); }
  to {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes transitionInContent {
  from {
    opacity: 0;
    transform: translate(-50px, 0px); }
  to {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes transitionInContent2 {
  from {
    opacity: 0;
    transform: translate(50px, 0px); }
  to {
    opacity: 1;
    transform: translate(0px, 0px); } }

@keyframes scrollBackground {
  100% {
    background-position: 0px -3000px; } }
